*{
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

:root{
  --primary: #2A7AE4;
  --black: #000000;
  --blackligther: #9E9E9E;
  --graylight: #F5E5E5;
  --graymedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1F8;
  --backEnd: #00C86F;
}

html, body {
  margin: 0;
  padding: 0;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;

}